<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login_page</h1>
    {% if error %}
     <h1 style = "color: red">{{error}}</h1>
    {% endif %}
    <form method="post">
        {% csrf_token %}
    <label for="Num1">Enter user name:</label>
    <input type="text" name="Num1" placeholder = "Enter user name " required><br><br>
    <label for="Password">Enter Password:</label>
    <input type="password" name="Num2" placeholder = "Enter Password " required><br><br>
    <button type="submit">
        Login
    </button>
    </form>

    Don't have an account?<a href = "{% url 'register_page' %}">register</a>
    {% if result %}
     <h1>result : {{result}}</h1>
    {% endif %}
</body>
</html>